![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [56]:
# Import necessary libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head()

   student_id      city  ...  training_hours job_change
0        8949  city_103  ...              36        1.0
1       29725   city_40  ...              47        0.0
2       11561   city_21  ...              83        0.0
3       33241  city_115  ...              52        1.0
4         666  city_162  ...               8        0.0

[5 rows x 14 columns]

In [57]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

# Start coding here. Use as many cells as you like!

In [58]:
#review the dtypes and info on them
print(ds_jobs_transformed.info())

#review for potential unqie values
print(ds_jobs_transformed.isna().value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None
student_id  city   city_development_index  gender  relevant_experience  enrolled_university  education_level  major_discipline  experience  company_size  company_type  last_new_job  training_hours  job_change
False       False  False                   False   False                False                False            False             False       False         False         False         False           False         8955
                                                                                                                                            True          True          False         False           False         2777
                                           True    False                False                False            False             False       False         False         False         False           False         2224
                                           False   False                False                False            True              False       True          True          False         False           False          847
                                           True    False                False                False            False             False       True          True          False         False           False          835
                                                                                                                                                                                                                    ...
                                           False   False                True                 False            False             False       True          False         True          False           False            1
                                                                        False                False            False             True        False         False         True          False           False            1
                                           True    False                False                False            True              True        True          True          True          False           False            1
                                                                                                                                                                        False         False           False            1
                                           False   False                False                True             True              True        True          True          True          False           False            1
Length: 102, dtype: int64

In [59]:
#lets determine which cat features have which
ordinal_cols = ['education_level', 'experience', 'company_size', 'last_new_job', 'enrolled_university']

for col in ordinal_cols:
    print(ds_jobs_transformed[col].unique())

['Graduate' 'Masters' 'High School' nan 'Phd' 'Primary School']
['>20' '15' '5' '<1' '11' '13' '7' '17' '2' '16' '1' '4' '10' '14' '18'
 '19' '12' '3' '6' '9' '8' '20' nan]
[nan '50-99' '<10' '10000+' '5000-9999' '1000-4999' '10-49' '100-499'
 '500-999']
['1' '>4' 'never' '4' '3' '2' nan]
['no_enrollment' 'Full time course' nan 'Part time course']

In [60]:
#create the ordered lists for ordinal data types

edu_order = ['Primary School', 'High School', 'Graduate', 'Masters', 'Phd']

#order exp by val
#since <1 and >20 are not digits, we need to specify them, let the for loop complete the middle
exp_order = ['<1'] + [str(i) for i in range(1, 21)] + ['>20']

comp_size_order = ['<10', '10-49', '50-99', '100-499', '500-999', '1000-4999', '5000-9999', '10000+']

lnj_order = ['never', '1', '2', '3', '4', '>4']

uni_order = ['no_enrollment', 'Part time course', 'Full time course']

In [61]:
#category map for easier use with astype (since it accepts dicts)

cat_map = {
    'education_level': pd.CategoricalDtype(edu_order, ordered=True),
    'experience': pd.CategoricalDtype(exp_order, ordered=True),
    'company_size': pd.CategoricalDtype(comp_size_order, ordered=True),
    'last_new_job': pd.CategoricalDtype(lnj_order, ordered=True),
    'enrolled_university': pd.CategoricalDtype(uni_order, ordered=True)
    
}

#fuse them into the df
ds_jobs_transformed = ds_jobs_transformed.astype(cat_map)

print(ds_jobs_transformed[ordinal_cols].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   education_level      18698 non-null  category
 1   experience           19093 non-null  category
 2   company_size         13220 non-null  category
 3   last_new_job         18735 non-null  category
 4   enrolled_university  18772 non-null  category
dtypes: category(5)
memory usage: 95.3 KB
None

In [62]:
#lets do nominal cats next (that are not bool)
nominal_cols = ['city', 'gender', 'major_discipline', 'company_type']

ds_jobs_transformed[nominal_cols] = ds_jobs_transformed[nominal_cols].astype('category')

print(ds_jobs_transformed[nominal_cols].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              19158 non-null  category
 1   gender            14650 non-null  category
 2   major_discipline  16345 non-null  category
 3   company_type      13018 non-null  category
dtypes: category(4)
memory usage: 80.6 KB
None

In [63]:
#let's start by filtering out data types

#locate cols where it can be bool
boolVals = ds_jobs_transformed.columns[ds_jobs_transformed.nunique() == 2]

#locate bit ints next
intVals = ds_jobs_transformed.select_dtypes(include = ['int']).columns
intVals = intVals.difference(boolVals)

#locate floats
floatVals = ds_jobs_transformed.select_dtypes(include = ['float']).columns
#filter out bools 
floatVals = floatVals.difference(boolVals)

In [64]:
#create a dict to store keys for transformation

type_dict = {col: 'bool' for col in boolVals}
type_dict.update({col: 'int32' for col in intVals})
type_dict.update({col: 'float16' for col in floatVals})

#fuse
ds_jobs_transformed = ds_jobs_transformed.astype(type_dict)

In [65]:
#quick check
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  category
 9   company_size            13220 non-null  category
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  category
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 400.2 KB

In [66]:
ds_jobs_transformed = ds_jobs_transformed.loc[
    (ds_jobs_transformed['experience'] >= '10') &
    (ds_jobs_transformed['company_size'] >= '1000-4999')
]

ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2201 non-null   int32
 1   city                    2201 non-null   category
 2   city_development_index  2201 non-null   float16
 3   gender                  1821 non-null   category
 4   relevant_experience     2201 non-null   bool
 5   enrolled_university     2185 non-null   category
 6   education_level         2184 non-null   category
 7   major_discipline        2097 non-null   category
 8   experience              2201 non-null   category
 9   company_size            2201 non-null   category
 10  company_type            2144 non-null   category
 11  last_new_job            2184 non-null   category
 12  training_hours          2201 non-null   int32
 13  job_change              2201 non-null   bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 69.5 KB